/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

/* Utility */
.font-white {
    color: #fff;
}

.margin-y {
    margin-top: 40px;
    margin-bottom: 40px;
}
/* Layout */

/* HEADER */
.header {
    background-color: #FF6900;
    height: 80px;
    padding-top:30px;
}
.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* debug */
    position: sticky;
}
.ul-header {
    list-style: none;
    gap: 10px;
}
.ul-header a {
    text-decoration: none;
    color: #fff;
}
.logo {
    max-width: 100px;
}
/* MAIN */
.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-30 {
    width: 30%;
}
.card {
    position: relative;
}
.image {
    position: absolute;
}
.image-hover {
    display: none;
    position: absolute;
}
.card:hover .image-hover {
    display: block;
}
.discount {
    position: absolute;
    bottom: -250px;
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;
}
.sustainable {
    position: absolute;
    bottom: -250px;
    left: 55px;
    background-color: green;
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;
}
.heart{
    position: absolute;
    top:0px;
    right: 0px;
    background-color: #fff;
    color: #141414;
    padding: 5px 10px;
    font-size: 20px;
}
/* FOOTER */
