/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

/* Utility */
.font-white {
    color: #fff;
}
.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.margin-y {
    margin-top: 40px;
    margin-bottom: 40px;
}
/* Layout */

/* HEADER */
.header {
    background-color: #FF6900;
    height: 80px;
    padding-top:30px;
}
.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* debug */
    position: sticky;
}
.ul-header {
    list-style: none;
    gap: 10px;
}
.ul-header a {
    text-decoration: none;
    color: #fff;
}
.logo {
    max-width: 100px;
}
/* MAIN */
.col-30 {
    width:30%;
    margin-top: 50px;
}
.card {
    position: relative;
}
.image-hover {
    display: none;
    position: absolute;
    top: 0;
}
.card:hover .image-hover{
    display: block;
}
/* FOOTER */
