/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

/* Utility */
.font-white {
    color: #fff;
}
.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.margin-y {
    margin-top: 40px;
    margin-bottom: 40px;
}
.icons {
    display: flex;
   gap: 15px;
}
/* Layout */

/* HEADER */
.header {
    background-color: #FF6900;
    height: 80px;
    padding-top:30px;
}
.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* debug */
    position: sticky;
}
.ul-header {
    list-style: none;
    gap: 10px;
}
.ul-header a {
    text-decoration: none;
    color: #fff;
}
.logo {
    max-width: 100px;
}
/* MAIN */
.col-30 {
    width:30%;
    margin-top: 50px;
}
.card span strong {
    color: #ff0000;
}
.card {
    position: relative;
}
.image-hover {
    display: none;
    position: absolute;
    top: 0;
}
.card:hover .image-hover{
    display: block;
}
.sales {
    position: absolute;
    bottom: 90px;
    background-color: #ff0000;
    padding: 5px 5px;
    color: #ffffff;
}
.sustainable {
    position: absolute;
    bottom: 90px;
    left: 55px;
    background-color: #39b039;
    padding: 5px 5px;
    color: #fff;
}
.sustainable-last {
    position: absolute;
    bottom: 90px;
    background-color: #39b039;
    padding: 5px 5px;
    color: #fff;
}
.heart {
    position: absolute;
    right: 0px;
    top: 5px;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 20px;
}
.brand {
   font-size: 12px;
}
.product-description {
    font-weight: 900;
}
/* FOOTER */
.bg-dark {
    background-color: #171616;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
}
h4 {
    margin-bottom: 10px;
}
.left-footer {
    color: #ffffff;
}
.info {
    display: flex;
    gap: 15px;
    font-size: 15px;
    
}
.info a {
    text-decoration: none;
    color: #fff;
}
.left-footer ul {
    list-style: none;
    padding-top: 10px;
}
.right-footer {
 
}